beautifulsoup4==4.6.0
tweepy == 3.6.0
pandas == 0.23.0
numpy == 1.14.3
matplotlib == 2.2.2
requests == 2.18.4
sklearn == 0.19.1
textblob == 0.15.1

# re, datetime and json are part of python standard library
